  .navigation{
    position:sticky;
    top: 0;
    padding: 0 8px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    background:rgb(25, 164, 164);
    color: white;
  }
  .navigation .nav_list{
    font-weight: 700;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
    margin-right: 20px;
  }
  .logo{
    margin: 0 20px;
  }